
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A Fing Browser</title>
</head>
<body>
	<p><%= @message %></p>
	<form action='/' id='url'>
		<input type="text" name='fing-url' placeholder='url-goes-here.com'>
		<input type="submit">
	</form>	
</body>
</html>